<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="Assessment.API.utils.TestListener"/>
	<listener class-name="Assessment.API.utils.ExtentReportManager"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <classes>
    <class name="Assessment.API.e2e.TokenTest"/>
  	<class name="Assessment.API.e2e.BookingTestFactory"/>
  	<class name="Assessment.API.e2e.BookingNegativeTests"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
